@charset "UTF-8";

/* Main */
/* css less than 559px ~mobile.ver~ */

/* items */
.sub-items-slide .slick-current {
  opacity: 0.3;
}

/* new-items */
.new-items,
.all-items {
  padding-top: 0;
}
.new-items__title-wrap,
.all-items__title-wrap {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.new-items__title {
  color: #d7003a;
}

.new-items__title,
.all-items__title {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.new-items__title:before,
.new-items__title:after,
.all-items__title:before,
.all-items__title:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #666;
}

.new-items__title:before,
.new-items__title:after {
  background-color: #d7003a;
}

.new-items__title:before,
.all-items__title:before {
  left: 0;
}

.new-items__title:after,
.all-items__title:after {
  right: 0;
}

/* css 561px or more ~tablet.ver~ */
/* Main */
@media screen and (min-width: 560px) {
  .item-container {
    display: flex;
  }

  .new-items-container,
  .all-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* text-align: center; */
    /* width: 100%; */
    /* min-width: 90%; */
  }

  .new-items__details picture img,
  .all-items__details picture img {
    width: 30%;
    margin: 0 auto;
  }
}

/* css 960px or more ~desktop.ver~ */
/* Main */
@media screen and (min-width: 960px) {
}
