@charset "UTF-8";
/* fonts setting */
h1,
h2,
li,
a,
.top__logo-place a {
  font-family: "Lora", serif;
}

h3,
p,
.policy__trade a,
.policy__privacy a {
  font-family: "Noto Serif JP", serif;
}

/* top title setting */
.top__title__catch {
  font-family: "Dancing Script", cursive;
  font-size: 1.125rem;
}

/* Header */
/* css less than 559px ~mobile.ver~ */
.top__logo-place {
  display: block;
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  color: #fff;
  opacity: 0.8;
}

.top__logo {
  width: 50%;
  height: auto;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

/* header__img-slide */
.header__img-slide-show {
  width: 50%;
  margin: 0 auto;
}

.header__img-slide-show picture img {
  height: 50vh;
}

/* scroll guide */
#mouse,
#mouse:before {
  position: absolute;
  left: 50%;
}

#mouse {
  top: 70%;
  width: 25px;
  height: 45px;
  margin-left: -15px;
  margin-top: -33px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 25px;
}

#mouse:before {
  content: "";
  top: 10px;
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  border-radius: 4px;
  animation: scroll 2.5s infinite;
  -webkit-animation: scroll 2.5s infinite;
  -moz-animation: scroll 2.5s infinite;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}

@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}

/* gnav setting */
#gnav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.gnav__list__item {
  width: 100%;
  height: auto;
  padding: 7% 0;
  text-align: center;
  box-sizing: border-box;
}

.gnav__list__item a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: #4169e1;
}

.gnav__list__item a:visited {
  color: #4169e1;
}

#gnav {
  transform-origin: top left;
  transform: rotateZ(-90deg);
  transition: all 0.4s ease-out;
}

#gnav.is-active {
  transform: rotateZ(0deg);
}

/* hamburger icon setting */
.hamburger-icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: \f0ca;
  position: fixed;
  top: 2%;
  right: 5%;
  text-align: center;
  z-index: 1;
  width: 35px;
  line-height: 35px;
  background-color: rgba(255, 255, 255, 0.8);
}

#hamburger-btn {
  color: #4169e1;
}

/* css 561px or more ~tablet.ver~ */
/* Header */
@media screen and (min-width: 560px) {
  .top__logo-place {
    top: 40%;
  }

  .top__title__catch {
    font-size: 1.25rem;
  }

  /* header__img-slide */
  .header__img-slide-show picture img {
    height: 80vh;
  }

  /* scroll guide */
  #mouse {
    top: 73%;
    width: 35px;
    height: 65px;
    margin-left: -20px;
  }

  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(32.5px);
    }
  }

  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(32.5px);
    }
  }

  @-moz-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(32.5px);
    }
  }

  /* gnav setting */
  #gnav {
    transform: none;
    width: 100%;
    height: 8vh;
    opacity: 0;
    background: #f5f5f5;
  }

  .gnav__list {
    width: 100%;
    text-align: center;
  }

  #gnav.is-fixed {
    opacity: 1;
    transition: 0.5s;
  }

  .gnav__list__item {
    display: inline-block;
    width: 30%;
    padding: 0;
  }

  .gnav__list__item a {
    font-size: 1.125rem;
  }

  /* hamburger icon */
  .hamburger-icon,
  #hamburger-btn {
    display: none;
  }
}

/* css 960px or more ~desktop.ver~ */
/* Header */
@media screen and (min-width: 960px) {
  .top__logo-place {
    top: 50%;
  }

  .top__logo {
    width: 20%;
  }

  .top__title__catch {
    font-size: 1.375rem;
  }

  /* header__img-slide */
  .header__img-slide-show {
    width: 50%;
  }

  .header__img-slide-show picture img {
    height: 50vh;
  }

  /* scroll guide */
  #mouse {
    top: 95%;
    width: 35px;
    height: 65px;
    margin-left: -17.5px;
  }

  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(40px);
    }
  }

  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(40px);
    }
  }

  @-moz-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(40px);
    }
  }

  /* gnav setting */
  #gnav {
    height: 6.5vh;
  }

  .gnav__list__item a {
    font-size: 1.25rem;
  }
}

/* Main */
/* css less than 559px ~mobile.ver~ */

section {
  margin: 5% auto;
}

/* contents common setting */
.fadeIn {
  transform: translate(0, -30px);
  transition: 3s;
  opacity: 0;
}

.fadeIn.animated {
  transform: translate(0, 0);
  opacity: 1;
}

.contents__wrap {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.sub__title {
  position: relative;
  padding: 1em 2em;
  text-align: center;
  margin-bottom: 3%;
}

.sub__title:before,
.sub__title:after {
  position: absolute;
  content: "";
}

.sub__title:after {
  top: 0;
  left: 10%;
  width: 50px;
  height: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.sub__title:before {
  right: 10%;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card-design {
  width: 100%;
  margin: 2% auto 3%;
  padding-top: 3%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
}

.card-design__img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.contents__title {
  padding: 2% 0 2% 3%;
  margin: 0 0 3% 2%;
  border-left: 6px double #000;
  color: #444;
}

.card-design__description {
  padding: 2%;
  color: #666;
}

.new-info__cap {
  text-align: center;
  color: #f00;
}

.new-info__list {
  width: 80%;
  margin: 1% auto 0;
}

.new-info__list__items {
  color: #4169e1;
  font-size: 1rem;
}

.item-jump-taxonomy {
  text-decoration: none;
  border-bottom: 1px solid #000;
  color: #000;
  font-family: "Noto Serif JP", serif;
  font-size: 0.9rem;
}

.item-jump-taxonomy:visited {
  color: #000;
}

.fa-hand-point-right {
  color: #000;
}

.new-info__all-items__link {
  display: block;
  width: 50%;
  margin: 2% auto 0;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 3px 6px #ccc;
  text-align: center;
}

/* remodalウィンドウ内の設定 */
.wp-block-image {
  width: 50%;
  margin: 0 auto;
}

.remodal-pic {
  width: 90%;
  margin: 2% 0;
}

.remodal-textleft {
  text-align: left;
  margin-bottom: 10%;
  font-size: 1rem;
}

.remodal-field__list {
  margin-top: 5%;
}

.remodal-field__list__item {
  margin-top: 1%;
  font-family: "Noto Serif JP", serif;
}

/* about-nina */
.about-nina__logo_img {
  display: block;
  width: 65%;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
}

/* about-sle */
.about-sle__details {
  padding-top: 0;
}

.about-sle__description a {
  text-align: center;
  display: block;
  padding-top: 3%;
  text-decoration: none;
  color: #4169e1;
  font-weight: 600;
}

.about-sle__description__last-child {
  padding-top: 0;
}

/* css 561px or more ~tablet.ver~ */
/* Main */
@media screen and (min-width: 560px) {
  section {
    margin: 3% auto;
  }

  /* contents common setting */
  .contents__wrap {
    width: 93%;
  }

  .new-info__list,
  .new-info__all-items__link {
    width: 40%;
  }

  .new-info__list__items,
  .new-info__all-items__link {
    font-size: 1.125rem;
  }

  /* remodalウィンドウ内の設定 */
  .wp-block-image {
    width: 30%;
  }

  .remodal-pic {
    width: 70%;
  }

  .remodal-textleft {
    margin-bottom: 5%;
    font-size: 1.125rem;
  }

  /* about-nina */
  .about-nina__logo_img {
    width: 35%;
  }
}

/* css 960px or more ~desktop.ver~ */
/* Main */
@media screen and (min-width: 960px) {
  .new-info__list,
  .new-info__all-items__link {
    width: 30%;
  }

  .new-info__list__items,
  .new-info__all-items__link {
    font-size: 1.25rem;
  }

  .card-design {
    padding-top: 0;
  }

  .contents__title {
    padding: 1% 0 1% 3%;
    margin-bottom: 1%;
  }

  .details-container {
    display: table;
    position: relative;
  }

  .card-design__img,
  .card-design__description {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
  }

  .card-design__description {
    padding-right: 0;
  }

  /* remodalウィンドウ内の設定 */
  .wp-block-image {
    width: 30%;
  }

  .remodal-pic {
    width: 80%;
    margin: 1% 0;
  }

  .remodal-textleft {
    font-size: 1.25rem;
  }

  /* about-nina */
  .about-nina__imgset {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .about-nina__logo_img {
    width: 40%;
    margin: 0 auto;
  }

  .about-nina__description {
    width: 50%;
  }

  .about-comments__img,
  .about-sle__img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .about-comments__description,
  .about-sle__description {
    display: block;
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
  }

  .about-comments__img img,
  .about-sle__img img {
    margin-left: 0;
  }

  .about-sle__description a {
    padding-top: 1%;
  }
}
