@charset "UTF-8";

/* Main */
/* css less than 559px ~mobile.ver~ */

/* each block setting */
.sec-block {
  margin-top: 5%;
}

.description {
  font-size: 0.9375rem;
  margin-top: 1%;
}

/* css 561px or more ~tablet.ver~ */
/* Main */
@media screen and (min-width: 560px) {
  /* each block setting */
  .sec-block {
    margin-top: 2%;
  }

  .description {
    font-size: 1rem;
  }
}

/* css 960px or more ~desktop.ver~ */
/* Main */
@media screen and (min-width: 960px) {
  /* each block setting */
  .sec-block {
    margin-top: 1%;
  }

  .description {
    font-size: 1.0625rem;
    margin-top: 0.5%;
  }
}
