@charset "UTF-8";

/* Main */
/* css less than 559px ~mobile.ver~ */
/* contents common setting */
.fadeIn {
  transform: translate(0, -30px);
  transition: 3s;
  opacity: 0;
}

.fadeIn.animated {
  transform: translate(0, 0);
  opacity: 1;
}

.contents__wrap {
  width: 95%;
  height: auto;
  margin: 2% 2.5%;
}

.sub__title {
  position: relative;
  padding: 1em 2em;
  text-align: center;
  margin: 2% 0;
}

.sub__title:before,
.sub__title:after {
  position: absolute;
  content: "";
}

.sub__title:after {
  top: 0;
  left: 10%;
  width: 50px;
  height: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.sub__title:before {
  right: 10%;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* make card style */
.card-design {
  width: 100%;
  margin: 2% auto 3%;
  padding-top: 3%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
}
.card-design__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.contents__title {
  /* text-align: center; */
  padding: 2% 0 2% 3%;
  margin: 0 0 3% 2%;
  border-left: 6px double #000;
  color: #444;
}

.card-design__description {
  padding: 2%;
  color: #666;
}

.workshop__description_care {
  padding: 0 2% 1%;
}

/* archives.php */
/* .category__title {
  font-size: 0.875rem;
} */
.all-items__list {
  display: flex;
  flex-wrap: wrap;
}

.all-items__list__item {
  width: 30%;
  margin: 2% 1.5%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
  text-align: center;
}

.all-items__list__item a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

/* .all-items-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
} */

.all-items__details {
  display: block;
  width: 85%;
  margin: 0 auto 2%;
  padding: 1%;
  padding-top: 1%;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 3px 6px #ccc;
  text-decoration: none;
  color: #000;
  background-color: #fefefe;
  font-size: 0.875rem;
  font-family: "Noto Serif JP", serif;
}

.all-items__details:visited {
  color: #000;
}

.new-mark {
  color: #f00;
  font-size: 0.9375rem;
}

.all-items__img {
  width: 200px;
  margin: 0 auto;
  padding-top: 1%;
}

/* remodalウィンドウ内の設定 */
/* .wp-block-image {
  width: 50%;
  margin: 0 auto;
} */

.remodal-pic {
  width: 90%;
  margin: 2% 0;
}

.remodal-textleft {
  text-align: left;
  margin-bottom: 10%;
  font-size: 1rem;
}

.remodal-field__list {
  margin-top: 5%;
}

.remodal-field__list__item {
  margin-top: 1%;
  font-family: "Noto Serif JP", serif;
}

/* css 561px or more ~tablet.ver~ */
/* Main */
@media screen and (min-width: 560px) {
  .main-wrap {
    padding-top: 0;
  }

  section {
    margin: 1% auto;
  }

  .sub__title {
    margin-top: 0;
  }

  /* contents common setting */
  .contents__wrap {
    width: 93%;
    margin: 2% auto;
  }

  /* workshop.php */
  .workshop__description_care {
    padding: 0 2% 1%;
  }

  /* archives.php */
  .all-items__list__item {
    margin: 1% 1.5%;
  }

  .all-items__list__item a {
    font-size: 1.125rem;
  }

  .all-items-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .all-items__details {
    width: 45%;
    margin: 1% auto;
    padding: 0.5% 0;
    font-size: 0.9375rem;
  }

  .new-mark {
    font-size: 1rem;
  }

  /* .all-items__details picture img {
    width: 90%;
  } */

  /* remodalウィンドウ内の設定 */
  /* .wp-block-image {
    width: 30%;
  } */

  .remodal-pic {
    width: 70%;
  }

  .remodal-textleft {
    margin-bottom: 5%;
    font-size: 1.125rem;
  }
}

/* css 960px or more ~desktop.ver~ */
/* Main */
@media screen and (min-width: 960px) {
  .card-design {
    padding-top: 0;
  }

  .contents__title {
    padding: 1% 0 1% 3%;
    margin-bottom: 1%;
  }

  .details-container {
    /* display: flex; */
    display: table;
  }

  .card-design__img,
  .card-design__description {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
  }

  .workshop__img--mgtp,
  .workshop__description--mgtp {
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-design__description {
    padding-right: 0;
  }

  .workshop__description_care {
    padding: 0 1% 0.5%;
  }

  /* archives.php */
  .all-items__list__item {
    margin: 0.5% 1.65%;
  }

  .all-items__list__item a {
    font-size: 1.25rem;
  }

  .all-items__details {
    width: 22.5%;
    margin: 0.5% 1.25%;
    padding: 0.5% 0 0;
    font-size: 1rem;
  }

  .new-mark {
    font-size: 1.0625rem;
  }

  /* remodalウィンドウ内の設定 */
  /* .wp-block-image {
    width: 30%;
  } */

  .remodal-pic {
    width: 80%;
    margin: 1% 0;
  }

  .remodal-textleft {
    font-size: 1.25rem;
  }
}
