@charset "UTF-8";

/* Main */
/* css less than 559px ~mobile.ver~ */
/* make card style */

/* archives.php */
.all-items__list {
  display: flex;
  flex-wrap: wrap;
}

.all-items__list__item {
  width: 40%;
  margin: 2% 5% 4%;
  line-height: 5vh;
  border-radius: 5px;
  box-shadow: 0 3px 6px #ccc;
  text-align: center;
}

.all-items__list__item a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.all-items__details {
  display: block;
  width: 85%;
  margin: 2% auto;
  padding: 3%;
  /* padding-top: 1%; */
  text-align: center;
  border-radius: 3px;
  /* box-shadow: 0 3px 6px #ccc; */
  text-decoration: none;
  color: #000;
  /* background-color: #fefefe; */
  font-size: 0.875rem;
}

.all-items__details:visited {
  color: #000;
}

.new-mark {
  color: #dc143c;
  font-size: 0.9375rem;
}

.all-items__img {
  width: 150px;
  margin: 0 auto;
  padding-top: 2%;
}

.remodal-pic {
  width: 90%;
  margin: 2% 0;
}

.remodal-textleft {
  text-align: left;
  margin-bottom: 10%;
  font-size: 1rem;
}

.remodal-field__list {
  margin-top: 5%;
}

.remodal-field__list__item {
  margin-top: 1%;
}

/* css 561px or more ~tablet.ver~ */
/* Main */
@media screen and (min-width: 560px) {
  /* archives.php */
  .all-items__list__item {
    width: 30%;
    line-height: 3vh;
    margin: 2% 1.66% 4%;
  }

  .all-items__list__item a {
    font-size: 1.125rem;
  }

  .all-items-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .all-items__details {
    width: 45%;
    margin: 4% 2.5%;
    padding: 0.5% 0;
    font-size: 0.9375rem;
  }

  .new-mark {
    font-size: 1rem;
  }

  .remodal-pic {
    width: 70%;
  }

  .remodal-textleft {
    margin-bottom: 5%;
    font-size: 1.125rem;
  }
}

/* css 960px or more ~desktop.ver~ */
/* Main */
@media screen and (min-width: 960px) {
  /* archives.php */
  .all-items__list__item {
    width: 20%;
    margin: 2% 2.5% 4%;
  }

  .all-items__list__item a {
    font-size: 1.25rem;
  }

  .all-items__details {
    /* width: 22.5%; */
    width: 30%;
    margin: 3% 1.66%;
    /* margin: 3% auto; */
    padding: 0;
    font-size: 1rem;
  }

  .new-mark {
    font-size: 1.0625rem;
  }

  .remodal-pic {
    width: 80%;
    margin: 0.5% 0 0;
  }

  .remodal-textleft {
    margin-bottom: 2%;
    font-size: 1.25rem;
  }

  .remodal-field__list {
    margin-top: 1%;
  }
}
